<%= render 	:partial => 'shared/vote',
						:locals => {:votable => @comment}  %>
<div class="item-main">
	<div class="meta-head">
	<%= render 	:partial => 'shared/meta', 
							:locals => {:item => @comment,
													:ref_link => link_to("link", @comment)} %>
	</div>
	<div>
		<%= @comment.content %>
	</div>
	<%= form_for current_user.comments.build( :link_id => @comment.link_id, 
                                        	:parent_id => @comment.id ) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_area :content, :rows => "5" %>
	</div>
	<div><%= f.hidden_field :link_id %></div>
	<div><%= f.hidden_field :parent_id %></div>
	<div class="actions">
		<%= f.submit "Reply" %>
	</div>
<% end %>

	
</div>

<% unless @comment.replies.empty? %>
<h2>Replies to this Comment</h2>
<ol class="list">
		<% @comment.replies.each do |c| %>
			<%= render :partial => 'shared/thread',
								 :locals => {:comment => c, :level => 0} %>
		<% end %>
</ol>
<% end %>