<h1>Edit Your Profile</h1>
<p>All fields are optional.</p>
<%= semantic_form_for @user do |f| %>
	<%= f.inputs do %>
		<%= f.input :email %>
		<%= f.input :password, :label => "New password" %>
		<%= f.input :password_confirmation, :label => "New password confirmation" %>
	
	<%= f.semantic_fields_for :profile do |p| %>
		<%= p.input :city %>
		<%= p.input :occupation, :hint => "Be descriptive, e.g. \"Marketing Strategy Consultant\" rather than \"Associate\", \"History Major\" rather than \"Student\" " %>
		<%= p.input :organization, :hint => "Where you work or study" %>
		<%= p.input :organization_url %>
		<%= p.input :linkedin_url, :label => "LinkedIn url", :hint => "public profile url, e.g. http://www.linkedin.com/pub/tim-koelkebeck/1/a11/a86" %>
		<%= p.input :twitter_url %>
		<%= p.input :facebook_url %>
		<%= p.input :blog_url %>
		<%= p.input :personal_url %>
		<%= p.input :email_public, :label => "Allow members to see my email" %>
		<%= p.input :about %>
	<% end %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button :label => "Update" %>
	<% end %>
<% end %>