<li class="list-item">
	<span class="rank"><%= "#{rank}." %></span>
	<%= render :partial => 'shared/vote', :locals => {:votable => link} %>
	<div class="item-main">
		<div class="headline">
			<%= link_to(link.headline, link.url, :only_path => false, :host => "http://") %>
			<%= link.domain_paren %>
		</div>
 		<div class="meta-foot">
			<%= render 	:partial => 'shared/meta',
									:locals => {:item => link,
															:ref_link => discussion_link(link)} %>
		</div>
	</div>
</li>