<div>
	<%= render :partial => 'shared/vote', :locals => {:votable => @link} %>
	<div class="item-main">
		<div class="headline">
			<a href="<%= @link.full_url %>"><%= @link.headline %></a>
		</div>
		<div class="meta-foot">
			<%= render 	:partial => 'shared/meta',
									:locals => {:item => @link,
															:ref_link => discussion_link(@link)} %>
		</div>
	</div>
</div>

<% if user_signed_in? %>
<br />
<%= image_tag("no_arrow.gif", :style => "float:left") %>
<div style="float:left">
<%= form_for current_user.comments.build( :link_id => @link.id, 
                                        	:parent_id => nil ) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_area :content, :rows => 8, :cols => 60 %>
	</div>
	<div><%= f.hidden_field :link_id %></div>
	<div><%= f.hidden_field :parent_id %></div>
	<div class="actions">
		<%= f.submit "Comment" %>
	</div>
<% end %>
<% end %>
</div>
<br / style="clear:left">

<% unless @root_comments.empty? %>
<h2 style="clear:left">Comments</h2>
	<ol class="list">
		<% @root_comments.each do |c| %>
			<%= render :partial => 'shared/thread',
								 :locals => {:comment => c, :level => 0} %>
		<% end %>
	</ol>
<% end %>