<h1>Sign up</h1>

<% resource.build_profile %>
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

	<%= f.fields_for :profile do |profile_form| %>
	
		<p><%= profile_form.label :first_name %><br />
	  <%= profile_form.text_field :first_name %></p>
	
		<p><%= profile_form.label :last_name %><br />
	  <%= profile_form.text_field :last_name %></p>

	<% end %>
	
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>